In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("covid_19_india.csv")
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [3]:
df.drop(['Sno','ConfirmedIndianNational','ConfirmedForeignNational','Time','Deaths'],axis=1,inplace=True)

In [4]:
df.isnull().sum()

Date                    0
State/UnionTerritory    0
Cured                   0
Confirmed               0
dtype: int64

In [5]:
df1=df.drop([15846,15882])

In [6]:
df1.loc[df['State/UnionTerritory'] == 'Bihar****']

Empty DataFrame
Columns: [Date, State/UnionTerritory, Cured, Confirmed]
Index: []

In [7]:
df1.shape

(16380, 4)

In [8]:
df1['State/UnionTerritory'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Lakshadweep', 'Telangana', 'Dadra and Nagar Haveli'], dtype=object)

In [9]:
df3=df.loc[df['State/UnionTerritory'] == 'Cases being reassigned to states']

In [10]:
df5=df1.drop(df3.index)

In [11]:
df5.shape

(16320, 4)

In [12]:
df5.head()

         Date State/UnionTerritory  Cured  Confirmed
0  2020-01-30               Kerala      0          1
1  2020-01-31               Kerala      0          1
2  2020-02-01               Kerala      0          2
3  2020-02-02               Kerala      0          3
4  2020-02-03               Kerala      0          3

In [13]:
df5.isna().sum()

Date                    0
State/UnionTerritory    0
Cured                   0
Confirmed               0
dtype: int64

In [14]:
def chang_date(df):
    year=[]
    day=[]
    for i in range(len(df)):
        year.append(int(df.iloc[i,0].split("-")[0]))
        day.append(int(df.iloc[i,0].split("-")[2]))
    return year,day

In [15]:
p,q=chang_date(df5)

In [16]:
df5['year']=pd.DataFrame(p)

In [17]:
df5.head()

         Date State/UnionTerritory  Cured  Confirmed    year
0  2020-01-30               Kerala      0          1  2020.0
1  2020-01-31               Kerala      0          1  2020.0
2  2020-02-01               Kerala      0          2  2020.0
3  2020-02-02               Kerala      0          3  2020.0
4  2020-02-03               Kerala      0          3  2020.0

In [18]:
df5=df5.dropna()

In [19]:
df5['year'].apply(lambda x:int(x))

0        2020
1        2020
2        2020
3        2020
4        2020
         ...
16315    2021
16316    2021
16317    2021
16318    2021
16319    2021
Name: year, Length: 16258, dtype: int64

In [20]:
df5['day']=pd.DataFrame(q)

In [21]:
df5.isnull().sum()

Date                    0
State/UnionTerritory    0
Cured                   0
Confirmed               0
year                    0
day                     0
dtype: int64

In [22]:
df5.head()

         Date State/UnionTerritory  Cured  Confirmed    year  day
0  2020-01-30               Kerala      0          1  2020.0   30
1  2020-01-31               Kerala      0          1  2020.0   31
2  2020-02-01               Kerala      0          2  2020.0    1
3  2020-02-02               Kerala      0          3  2020.0    2
4  2020-02-03               Kerala      0          3  2020.0    3

In [23]:
df5['year'].unique()

array([2020., 2021.])

In [24]:
df5['year']=df5.year.apply(lambda x:int(x))

In [25]:
df5.head()

         Date State/UnionTerritory  Cured  Confirmed  year  day
0  2020-01-30               Kerala      0          1  2020   30
1  2020-01-31               Kerala      0          1  2020   31
2  2020-02-01               Kerala      0          2  2020    1
3  2020-02-02               Kerala      0          3  2020    2
4  2020-02-03               Kerala      0          3  2020    3

In [26]:
df5['State/UnionTerritory'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim',
       'Daman & Diu', 'Lakshadweep', 'Telangana',
       'Dadra and Nagar Haveli'], dtype=object)

In [27]:
df5.drop(['Date'],axis=1,inplace=True)

In [28]:
df5.head()

  State/UnionTerritory  Cured  Confirmed  year  day
0               Kerala      0          1  2020   30
1               Kerala      0          1  2020   31
2               Kerala      0          2  2020    1
3               Kerala      0          3  2020    2
4               Kerala      0          3  2020    3

In [29]:
df5.rename(columns={'State/UnionTerritory':'state'},inplace=True)

In [30]:
df5.head()

    state  Cured  Confirmed  year  day
0  Kerala      0          1  2020   30
1  Kerala      0          1  2020   31
2  Kerala      0          2  2020    1
3  Kerala      0          3  2020    2
4  Kerala      0          3  2020    3

In [31]:
dummies = pd.get_dummies(df5.state)

In [32]:
df5=pd.concat([df5,dummies],axis=1)

In [33]:
df5.drop(['state'],axis=1,inplace=True)

In [34]:
df5.head()

,Cured,Confirmed,year,day,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,...,Rajasthan,Sikkim,Tamil Nadu,Telangana,Telengana,Tripura,Unassigned,Uttar Pradesh,Uttarakhand,West Bengal
0,0,1,2020,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2020,31,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,2020,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,3,2020,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,2020,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
df5.head()

,Cured,Confirmed,year,day,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,...,Rajasthan,Sikkim,Tamil Nadu,Telangana,Telengana,Tripura,Unassigned,Uttar Pradesh,Uttarakhand,West Bengal
0,0,1,2020,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2020,31,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,2020,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,3,2020,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,2020,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
X=df5.drop(['Cured'],axis=1)

In [37]:
y=df5.Cured

In [38]:
X=X.dropna()

In [39]:
X.head()

,Confirmed,year,day,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,...,Rajasthan,Sikkim,Tamil Nadu,Telangana,Telengana,Tripura,Unassigned,Uttar Pradesh,Uttarakhand,West Bengal
0,1,2020,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2020,31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2020,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2020,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,2020,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
y=y.dropna()

In [41]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Cured, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=45)

In [43]:
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor()

In [44]:
reg.fit(X_train,y_train)

RandomForestRegressor()

In [45]:
reg.score(X_test,y_test)

0.9996825039072157

In [46]:
def predict_covid(state,Confirmed,year,day):    
    loc_index = np.where(X.columns==state)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = Confirmed
    x[1] = year
    x[2] = day
    if loc_index >= 0:
        x[loc_index] = 1

    return reg.predict([x])[0]

In [47]:
predict_covid('Kerala',345 ,2021 ,26)

160.85

In [54]:
import pickle
import bz2
import _pickle as cPickle

with bz2.BZ2File('covid.pbz2', 'w') as f:
    
    pickle.dump(reg, f)

In [49]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))